/*Fuentes*/
@font-face {
    font-family: "Montserrat-Light";
    font-style: normal;
    src: url("../fuente/Montserrat-Light.woff") format("woff"), url("../fuente/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-Medium";
    font-style: normal;
    src: url("../fuente/Montserrat-Medium.woff") format("woff"), url("../fuente/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    src: url("../fuente/Montserrat-Regular.woff") format("woff"), url("../fuente/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    src: url("../fuente/Montserrat-SemiBold.woff") format("woff"), url("../fuente/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-Bold";
    font-style: normal;
    src: url("../fuente/Montserrat-Bold.woff") format("woff"), url("../fuente/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Black";
    font-style: normal;
    src: url("../fuente/Lato-Black.woff") format("woff"), url("../fuente/Lato-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Bold";
    font-style: normal;
    src: url("../fuente/Lato-Bold.woff") format("woff"), url("../fuente/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Light";
    font-style: normal;
    src: url("../fuente/Lato-Light.woff") format("woff"), url("../fuente/Lato-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Hairline";
    font-style: normal;
    src: url("../fuente/Lato-Hairline.woff") format("woff"), url("../fuente/Lato-Hairline.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Regular";
    font-style: normal;
    src: url("../fuente/Lato-Regular.woff") format("woff"), url("../fuente/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Italic";
    font-style: normal;
    src: url("../fuente/Lato-Italic.woff") format("woff"), url("../fuente/Lato-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "CreteRound-Italic";
    font-style: normal;
    src: url("../fuente/CreteRound-Italic.woff") format("woff"), url("../fuente/CreteRound-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "CreteRound-Regular";
    font-style: normal;
    src: url("../fuente/CreteRound-Regular.woff") format("woff"), url("../fuente/CreteRound-Regular.ttf") format("truetype");
}
*{
	margin: 0;
    padding:0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*Estilos para la caja principal, secciones y footer*/
header,section,footer{
    display: block;
}
/*Estilos para los enlaces*/
a{
text-decoration: none;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*Estilos para romper los textos*/
h1,h2,h3,h4,h5,h6{
    width: 100%;
    display: block;
    word-wrap: break-word;
}
span{
    display: block;
    word-wrap: break-word;
}
p{
    display: block;
    word-wrap: break-word;
}
input,button{
    outline: none;
    border: none;
}
/*Estilos generales para no list*/
.no_list{
    list-style: none;
}
